<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
		  <li><a href="#/subjects">Assignatures</a></li>	
		  <li><a href="#/subjects/{{ topics.topic.subject.data.name | spacesToDashes}}">{{ topics.topic.subject.data.name }}</a></li>
		  <li>Temes</li>
		  <li><a href="#/subjects/{{ topics.topic.subject.data.name | spacesToDashes}}/topics/{{ topics.topic.name | spacesToDashes}}/">{{ topics.topic.name }}</a></li>
		  <li class="active">Activitats</li>
		</ol>
	</div>
	<div class="col-md-6">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="activity in topics.topic.activities.data">
				<a href="#/subjects/{{ topics.topic.subject.data.name | spacesToDashes}}/topics/{{ topics.topic.name | spacesToDashes}}/activities/{{activity.id}}">{{activity.title}}</a>
			</li>
		</ul>
	</div>
</div>