<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
		  <li><a href="#/subjects">Assignatures</a></li>	
		  <li><a href="#/subjects/{{ topics.topic.subject.data.name | spacesToDashes}}">{{ topics.topic.subject.data.name }}</a></li>
		  <li>Temes</li>
		  <li><a href="#/subjects/{{ topics.topic.subject.data.name | spacesToDashes}}/topics/{{ topics.topic.name | spacesToDashes}}">{{ topics.topic.name }}</a></li>
		  <li class="active">Activitats</li>
		</ol>
	</div>
	<div class="col-md-6">
		<a ng-if="isAuthorized(userRoles.admin)" href="#/subjects/{{ topics.topic.subject.data.name | spacesToDashes}}/topics/{{ topics.topic.name | spacesToDashes}}/activities/create"><button type="button" class="btn btn-success">Afegir Activitat</button></a>
		<h4>Activitats:</h4>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="activity in topics.topic.activities.data | orderBy: 'title'">
				<a href="#/subjects/{{ topics.topic.subject.data.name | spacesToDashes}}/topics/{{ topics.topic.name | spacesToDashes}}/activities/{{activity.id}}">{{activity.title}}</a>
				<span class="pull-right badge">{{ activity.answers.data.length }}</span>
			</li>
		</ul>
	</div>
</div>