<div class="container">
    <div class="page-header" style="margin-top: 10px">
        <h2 id="timeline">Activitat Recent:</h2>
    </div>
    <ul class="timeline">
      <li ng-class-even="'timeline-inverted'" ng-repeat="line in dashboard.timeline">
        <div class="timeline-badge {{ line.action }}"><i class="fa fa-{{ line.action }}"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              <a style="color:black; text-decoration:underline" href="#/users/{{line.user.data.username | slugify }}">{{ line.user.data.username }}</a>
              <span ng-if="line.action == 'recommend'">
                Recomana:
              </span>
              <span ng-if="line.action == 'reply'">
                Ha contestat:
              </span>
            </h4>
          </div>
          <div class="timeline-body">
            <p ng-bind-html="line.body"></p>
            <p><small class="text-muted"><i class="fa fa-clock-o"></i> Fa {{ dashboard.DateForHumans(line.created_at.date) | timeDistance }}</small></p>
          </div>
        </div>
      </li>
    </ul>
</div>
