<div class="row">
	<div class="col-md-6">
		<h4>Darreres Activitats Creades:</h4>
		<ul class="list-group" >
			<li class="list-group-item" ng-repeat="activity in dashboard.activities">
				{{ activity.topic.data.subject.data.name }}
				<span class="pull-right">{{ activity.user.data.username }}</span>
				<br>
				{{ activity.topic.data.name }}
				<br>
				<a href="/#/{{ 'subjects/' + activity.topic.data.subject.data.name + '/topics/' + activity.topic.data.name + '/activities/' + activity.id | spacesToDashes }}"><b>{{ activity.title }}</b></a>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<h4>Darreres Respostes:</h4>
		<ul class="list-group" >
			<li class="list-group-item" ng-repeat="answer in dashboard.answers">
				{{ answer.activity.data.topic.data.subject.data.name }}
				<span class="pull-right">{{ answer.user.data.username }}</span>
				<br>
				{{ answer.activity.data.topic.data.name }}
				<br>
				<a href="/#/{{ 'subjects/' + answer.activity.data.topic.data.subject.data.name + '/topics/' + answer.activity.data.topic.data.name + '/activities/' + answer.activity_id | spacesToDashes }}"><b>{{ answer.statement | limitString }}</b></a>
			</li>
		</ul>
	</div>
</div>