<!-- Fixed navbar -->
<div ng-controller="NavbarCtrl as nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">DawWiki</a>
    </div>
    <div ng-if="isAuthorized(userRoles.admin)" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: nav.isActive('subjects') }"><a href="#/subjects">Assignatures</a></li>
        <li ng-class="{ active: nav.isActive('shares') }"><a href="#/shares">Comparteix Codi</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="isAuthorized(userRoles.admin)"><a href="#/users/create">Nou Usuari</a></li>
        <li ng-show="currentUser.username"><a href="#">{{ currentUser.username }}</a></li>
        <li ng-if="currentUser.username"><a href="api/logout">Sortir</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>