<div class="row">
  <div class="col-md-12">
    <h2>Afegeix una nova escola:</h2>
  </div>
  <div class="col-md-12">
    <form ng-submit="schools.createSchoolObject()" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-3">
          <input ng-model="schools.newSchoolObject.name" type="text" class="form-control" placeholder="Nom">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Web</label>
        <div class="col-sm-3">
          <input ng-model="schools.newSchoolObject.url" type="url" class="form-control" placeholder="Web (http://)">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Coses gratis</label>
        <div class="col-sm-1">
          <input ng-model="schools.newSchoolObject.free_resources" type="checkbox" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Conta gratis</label>
        <div class="col-sm-1">
          <input ng-model="schools.newSchoolObject.free_account" type="checkbox" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Subscripció mensual</label>
        <div class="col-sm-1">
          <input ng-model="schools.newSchoolObject.monthly_cost" type="text" class="form-control">
        </div>
        <div class="col-sm-1">
          <select ng-model="schools.newSchoolObject.rate" class="form-control" default="eur">
            <option value="eur">$</option> 
            <option value="dol">€</option> 
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Subscripció Anual</label>
        <div class="col-sm-1">
          <input ng-model="schools.newSchoolObject.anual_cost" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Subscripció vitalícia</label>
        <div class="col-sm-1">
          <input ng-model="schools.newSchoolObject.lifetime_cost" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Puntuació</label>
        <div class="col-sm-1">
            <select ng-model="schools.newSchoolObject.rate" class="form-control">
              <option value="1">1</option> 
              <option value="2">2</option> 
              <option value="3">3</option> 
              <option value="4">4</option> 
              <option value="5">5</option> 
            </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Afegeix</button>
        </div>
      </div>
    </form>
  </div>
</div>