<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
		  <li><a href="#/subjects">Assignatures</a></li>	
		  <li class="active"><a href="#/subjects/{{subjects.subject.name | spacesToDashes}}">{{ subjects.subject.name }}</a></li>
		</ol>
	</div>
	<div class="col-md-6">
		<h4>Temes:</h4>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="topic in subjects.subject.topics.data">
				<a href="#/subjects/{{subjects.subject.name | spacesToDashes}}/topics/{{topic.name | spacesToDashes}}">{{topic.name}}</a>
			</li>
		</ul>
	</div>
</div>