<div class="row">
  <div class="col-md-12">
    <h2>Afegeix un nou Article:</h2>
  </div>
  <div class="col-md-12">
    <form ng-submit="articles.createArticleObject()" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">Títol</label>
        <div class="col-sm-10">
          <input ng-model="articles.newArticleObject.title" type="text" class="form-control" placeholder="Títol">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Link</label>
        <div class="col-sm-10">
          <input ng-model="articles.newArticleObject.link" type="text" class="form-control" placeholder="Link (http://)">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-10">
          <tags-input ng-model="articles.newArticleObject.tags" placeholder="Afegeix tags" replace-spaces-with-dashes="false"></tags-input>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Afegeix</button>
        </div>
      </div>
    </form>
  </div>
</div>